<div class="search">
  <input type="Search" placeholder="Search.." [(ngModel)]="userName">
  <button type="submit" (click) ='submit()'>Search</button>
</div>

<div class="container">
 
  <div class="row">
    <blockquote class="text-center text-lg">
      <p appStrikethrough> name:{{search.name}}</p>
      <img src="{{search.avatar_url}}">
      <p> public_repos:{{search.public_repos}}</p>
      <p> followers:{{search.followers}}</p>
      <p> following:{{search.following}}</p>
      <a href="{{search.html_url}}" target="_blank">Link to the github page</a>
      <p>request completed on:{{search.completeDate|date}}</p>
    </blockquote>
  </div>
    
</div>
